body {
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
  border: 2px solid #333;
  image-rendering: pixelated;
  touch-action: none; /* prevents mobile from scrolling when drawing */
  max-width: 100vw;
  max-height: 80vh;
}

#colorPicker {
    margin-top: 10px;
}
